@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.nav {
  height: 56px;
}
.nav__list {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.nav__item {
  background: 0 0;
  width: 20%;
  border-bottom: 0;
}
.nav__item:nth-child(2) {
  margin-right: auto;
}
.nav__link {
  font-weight: 700;
  padding-top: 20px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
.nav__link--active {
  font-weight: 400;
}
a {
  color: #000000;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover {
  color: #81B3D2;
}
.header__logo-image {
  position: absolute;
  width: 185px;
  height: 95px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* запросы для перехода на мобильную версию */
@media (max-width: 768px) {
  .nav__list {
    position: absolute;
    z-index: 1;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .nav__list--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .nav__item {
    width: 100%;
    height: 55px;
    background-color: #81b3d2;
    box-shadow: 0 -1px 0 0 #9ac2db, 0 -2px 0 0 #74a1bd;
  }
}
@media (max-width: 768px) {
  .nav__link {
    font-size: 18px;
    color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  .nav__button {
    background-repeat: no-repeat;
    background-image: url("../img/icon-menu.svg");
    height: 22px;
    width: 40px;
    position: absolute;
    left: 90%;
    transform: translateY(50%);
    z-index: 1;
    padding-top: 20px;
  }
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
.body {
  position: relative;
  text-transform: uppercase;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}
.body-wrapper {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
}
@media (max-width: 1200px) {
  .body-wrapper {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .body-wrapper {
    width: 320px;
  }
}
/* описание блока welcome с модификацией на внутренние страницы*/
.welcome {
  background-repeat: no-repeat;
  background-image: url("../img/triangle-bottom-desktop.svg"), url("../img/back-desktop.jpg");
  height: 518px;
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__slogan {
  background-repeat: no-repeat;
  width: 460px;
  height: 350px;
  background-image: url("../img/slogan-sedonaa.svg");
}
.sedona {
  background-repeat: no-repeat;
  background-image: url("../img/triangle-bottom-desktop.svg"), url("../img/catalog-desktop.jpg");
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 357px;
}
.sedona__slogan {
  background-repeat: no-repeat;
  height: 80px;
  width: 460px;
  background-image: url("../img/text-sedona.svg");
}
/* медиа запросы блока welcome */
@media screen and (max-width: 1200px) {
  .welcome {
    background-image: url("../img/triangle-bottom-desktop.svg"), url("../img/back-desktop.jpg");
  }
}
@media screen and (max-width: 768px) {
  .welcome {
    background-image: url("../img/triangle-bottom-desktop.svg"), url("../img/back-mobile.jpg");
    height: 389px;
  }
}
@media screen and (max-width: 768px) {
  .welcome__slogan {
    width: 282px;
    height: 214px;
    background-image: url("../img/slogan-mobile.svg");
  }
}
@media screen and (max-width: 768px) {
  .sedona {
    background-repeat: no-repeat;
    background-image: url("../img/triangle-bottom-desktop.svg"), url("../img/back-welcome-block.png");
    height: 214px;
  }
}
@media screen and (max-width: 768px) {
  .sedona__slogan {
    height: 39px;
    width: 229px;
    background-image: url("../img/slogan-welcom-block.svg");
  }
}
/* Основной блок */
.main__container {
  font-family: "PT Sans", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* заголовки, тексты и отступы  к ним*/
.feedback-block__title,
.advantages__title,
.main__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}
.main__title--indent,
.advantages__title--indent {
  padding-top: 45px;
}
.main__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 30px 0 0;
  font-size: 14px;
  line-height: 21px;
}
.advantages__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  width: 280px;
  font-weight: 400;
}
.advantages__title {
  width: 150px;
}
.advantages__title--indent,
.map-block__title--indent {
  padding-top: 35px;
}
.advantages__text--hotel {
  width: 280px;
}
.advantages__text--food {
  width: 330px;
}
.advantages__text--suvenir {
  width: 193px;
}
.advantages__nowrap {
  white-space: nowrap;
}
.advantages__text--width {
  width: 282px;
}
.advantages__text--width-3 {
  width: 292px;
}
.advantages__text--slim {
  width: 240px;
}
.map-block__title,
.video-block__title,
.form-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  line-height: 26px;
}
/* медиазапросы к заголовкам*/
@media screen and (max-width: 768px) {
  .main__title--indent {
    padding-top: 22px;
  }
}
@media screen and (max-width: 768px) {
  .main__text--indent {
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__title {
    font-size: 18px;
    width: 220px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__title--left {
    text-align: left;
  }
}
@media screen and (max-width: 1200px) {
  .advantages__text {
    width: 203px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__text {
    width: 274px;
  }
}
@media screen and (max-width: 1200px) {
  .advantages__text--hotel {
    width: 192px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__text--hotel {
    text-align: left;
    width: 216px;
  }
}
@media screen and (max-width: 1200px) {
  .advantages__text--food {
    width: 180px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__text--food {
    text-align: left;
    width: 232px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__text--suvenir {
    width: 240px;
    text-align: left;
  }
}
@media screen and (max-width: 1200px) {
  .advantages__nowrap {
    white-space: pre-wrap;
  }
}
@media (max-width: 1200px) {
  .advantages__text--width {
    width: 178px;
  }
}
@media (max-width: 768px) {
  .advantages__text--width {
    width: 240px;
  }
}
@media (max-width: 1200px) {
  .advantages__text--width-3 {
    width: 189px;
  }
}
@media (max-width: 768px) {
  .advantages__text--width-3 {
    width: 273px;
  }
}
@media (max-width: 1200px) {
  .advantages__text--width-4 {
    width: 155px;
  }
}
@media (max-width: 768px) {
  .advantages__text--width-4 {
    width: 230px;
  }
}
@media (max-width: 1200px) {
  .advantages__text--width-5 {
    width: 155px;
  }
}
@media (max-width: 768px) {
  .advantages__text--width-5 {
    width: 255px;
  }
}
@media screen and (max-width: 768px) {
  .map-block__title {
    font-size: 21px;
  }
}
.map-block__text,
.video-block__text,
.form-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 19px 0 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
}
/* повторяющиеся элементы каждой страницы */
.main__description {
  width: 484px;
  text-align: center;
}
.button {
  border: 0;
  height: 58px;
  padding: 0 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #FFF;
  background-color: #81b3d2;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .main__description {
    width: 272px;
  }
}
/* блок - index - описание 5 причин */
.main__reason {
  width: 1200px;
}
.advantages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 256px;
}
.advantages__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  line-height: 21px;
  height: 256px;
  box-sizing: border-box;
  background-position: center bottom;
  justify-content: center;
}
.advantages__block--colored {
  background-color: #81b3d2;
  color: #FFF;
  margin-top: 40px;
}
.advantages__numbers {
  position: relative;
}
.advantages__numbers::after,
.advantages__numbers::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  top: 9px;
}
.advantages__numbers--dark::after,
.advantages__numbers--dark::before {
  background-color: #979797;
}
.advantages__numbers-dark::before,
.advantages__numbers::before {
  left: -15px;
}
.advantages__numbers-dark::after,
.advantages__numbers::after {
  right: -15px;
}
.advantages-images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 800px;
  height: 256px;
  overflow: hidden;
}
.advantages__block--avil {
  order: 2;
}
.advantages-images--avil {
  order: 1;
}
.advantages--list {
  margin-top: 0;
  padding-bottom: 35px;
  display: flex;
}
.advantages__item {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
}
.advantages-icon {
  height: 77px;
}
.advantages-icon--indent {
  padding-top: 78px;
}
.advantages--list-gray {
  background-color: #eeeeee;
  height: 256px;
}
/* медиазапросы для - index - описание 5 причин */
@media screen and (max-width: 1200px) {
  .main__reason {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .main__reason {
    width: 320px;
  }
}
@media screen and (max-width: 1200px) {
  .advantages {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .advantages {
    display: inline-block;
    flex-direction: column;
    width: 320px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__block--colored {
    display: flex;
    height: 450px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__block--triangle {
    background-repeat: no-repeat;
    background-image: url("../img/triangle-top-desktop.svg");
    background-position: top;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  .advantages__block {
    width: 256px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__block {
    width: 320px;
  }
}
@media screen and (max-width: 1200px) {
  .advantages-images {
    width: 516px;
  }
}
@media screen and (max-width: 768px) {
  .advantages-images {
    width: 320px;
  }
}
@media screen and (max-width: 768px) {
  .advantages-images--avil {
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  .advantages__block--avil {
    order: 1;
  }
}
@media screen and (max-width: 768px) {
  .advantages--list {
    display: inline-block;
    height: 376px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__item--mobile {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 26px;
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .advantages-icon {
    height: 44px;
  }
}
@media screen and (max-width: 768px) {
  .advantages-icon--indent {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .advantages__item--column {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .advantages--list-gray {
    display: inline-table;
  }
}
@media screen and (max-width: 1200px) {
  .advantages__item {
    width: 33%;
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .advantages__item {
    width: 280px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__item--strike {
    border-bottom: 1px solid #d6d6d6;
  }
}
@media screen and (max-width: 768px) {
  .advantages__item--strike {
    border-bottom: 1px solid #d6d6d6;
  }
}
/* index map-block */
.map-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 20px 0;
  width: 458px;
}
.map-block__button {
  font-family: "PT Sans", "Arial", sans-serif;
  margin-top: 52px;
}
.map-block__button:hover {
  height: 58px;
  color: #FFF;
}
.map-block__map {
  margin-top: 67px;
}
/* медиазапросы index map-block */
@media screen and (max-width: 768px) {
  .map-block__wrapper {
    width: 284px;
  }
}
/* catalog */
.gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.catalog-galery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery-block--items1 {
  order: 1;
}
.gallery-block--items2 {
  order: 3;
}
.gallery-block--items3 {
  order: 2;
}
.gallery__item--first {
  width: 100%;
  height: 400px;
}
.gallery-block {
  position: relative;
  box-sizing: border-box;
  padding: 0;
}
.gallery-item__img {
  background-position: center;
  background-repeat: no-repeat;
  height: 267px;
}
.gallery-item__img--first {
  height: 400px;
  padding-top: 90px;
  width: 1200px;
  overflow: hidden;
}
.photo {
  width: 100%;
  height: auto;
}
.gallery-item__info {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-item__author,
.gallery-item__heading {
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 15px 15px 0;
  color: #FFF;
}
.gallery-item__heading {
  font-weight: 700;
  text-transform: uppercase;
}
.gallery-item__title {
  display: flex;
  flex-direction: column;
  width: 209px;
  height: 45px;
}
.gallery-item__like {
  width: 23px;
  height: 21px;
}
.gallery-item__views-number {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 31px;
  color: #FFF;
}
.gallery-item__views {
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 9px;
  width: 64px;
  height: 20px;
  margin-right: 20px;
  background-image: url("../img/like-icon.svg");
  background-repeat: no-repeat;
}
.video__poster {
  display: flex;
}
.video-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.video-player {
  width: 48px;
  height: 54px;
  display: flex;
  position: absolute;
}
.video-block__poster {
  background-repeat: no-repeat;
  background-image: url("../img/video-desktop1.png");
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
}
.logo-play {
  background-repeat: no-repeat;
  height: 54px;
  width: 48px;
  background-image: url("../img/polygon-1.png");
}
.video-block__title--indent {
  padding-top: 55px;
}
.video-block__text--indent {
  width: 445px;
  margin: 28px 0 27px;
  padding-bottom: 30px;
}
.video-block__poster--indent {
  padding-top: 90px;
}
.feedback-block__title {
  position: relative;
}
.description-heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  width: 150px;
}
/* медиазапросы старинцы каталог*/
@media (max-width: 1200px) {
  .gallery {
    width: 648px;
  }
}
@media (max-width: 768px) {
  .gallery {
    width: 280px;
    display: flex;
    overflow: hidden;
    align-self: center;
  }
}
@media (max-width: 768px) {
  .gallery-block--strike {
    border-top: 1px solid #d6d6d6;
    padding-top: 25px;
  }
}
@media (max-width: 768px) {
  .gallery-block {
    height: 380px;
    width: 280px;
    display: inline-table;
  }
}
@media (max-width: 1200px) {
  .gallery-block--items1 {
    order: 1;
    width: 324px;
  }
}
@media (max-width: 768px) {
  .gallery-block--items1 {
    width: 280px;
  }
}
@media (max-width: 1200px) {
  .gallery-block--items2 {
    order: 3;
    width: 324px;
  }
}
@media (max-width: 1200px) {
  .gallery-block--items3 {
    order: 2;
    width: 324px;
  }
}
@media (max-width: 1200px) {
  .gallery-item__img--first {
    display: flex;
    height: 480px;
    width: 648px;
  }
}
@media (max-width: 768px) {
  .gallery-item__img--first {
    display: flex;
    height: 375px;
    width: 280px;
    padding-top: 0;
  }
}
@media (max-width: 1200px) {
  .photo--first {
    width: auto;
  }
}
@media (max-width: 1200px) {
  .gallery-item__info {
    background-color: #f2f2f2;
  }
}
@media (max-width: 768px) {
  .gallery-item__info {
    background-color: #ffffff;
    flex-direction: column;
    width: 280px;
    height: 121px;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .gallery-info--indent {
    padding-bottom: 24px;
  }
}
@media (max-width: 1200px) {
  .gallery-item__author,
  .gallery-item__heading {
    color: #000000;
  }
}
@media (max-width: 768px) {
  .gallery-item__author,
  .gallery-item__heading {
    margin: 20px 0 0;
  }
}
@media (max-width: 1200px) {
  .gallery-item__author {
    margin-top: 10px;
  }
}
@media (max-width: 1200px) {
  .gallery-item__views {
    background-image: url("../img/like-icon-gr.svg");
  }
}
@media (max-width: 768px) {
  .gallery-item__views {
    align-self: flex-start;
  }
}
@media (max-width: 768px) {
  .gallery-item__views-number {
    color: #000000;
    align-self: flex-start;
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  .gallery-item__views-number {
    color: #000000;
    align-self: flex-start;
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  .video-block {
    width: 648px;
  }
}
@media (max-width: 768px) {
  .video-block {
    width: 320px;
  }
}
@media (max-width: 1200px) {
  .video-block__poster {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .video-block__poster {
    width: 280px;
    height: 177px;
    background-size: contain;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .video-block__title--indent {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .video-block__title {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .video-block__text--indent {
    width: 266px;
    margin: 0;
  }
}
.page-footer {
  width: 100%;
  display: flex;
  height: 120px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page-footer--indent {
  padding-top: 90px;
}
.page-footer__tag {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.page-footer__tag--padding {
  padding-left: 88px;
}
.page-footer_list {
  display: flex;
  flex-direction: row;
}
.footer-button {
  display: flex;
  width: 48px;
  height: 48px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}
.footer-button-VK {
  background-image: url("../img/social.png");
}
.footer-button-Tl {
  background-image: url("../img/social-1.png");
}
.footer-button-yt {
  background-image: url("../img/social-2.png");
}
.page-footer__developer {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 26px;
  align-items: center;
}
.page-footer__developer--padding {
  padding-right: 107px;
}
.page-footer__academylogo {
  line-height: 0;
}
.page-footer__academylogo:focus,
.page-footer__academylogo:hover {
  fill: #81b3d2;
}
.page-footer__academylogo:active {
  fill: rgba(0, 0, 0, 0.3);
}
.page-footer__text {
  margin-right: 27px;
}
/* медиазапросы*/
@media screen and (max-width: 768px) {
  .page-footer {
    flex-direction: column;
    height: 233px;
  }
}
@media screen and (max-width: 768px) {
  .page-footer_list {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .page-footer__developer--padding {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .page-footer__tag--padding {
    padding-left: 0;
    padding-top: 43px;
  }
}
@media (max-width: 1200px) {
  .feedback-list__itemes-text {
    width: 280px;
  }
}
@media (max-width: 768px) {
  .feedback-list__itemes-text {
    width: 280px;
  }
}
.feedback {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 960px;
  flex-direction: row;
  justify-content: space-between;
}
.feedback-block {
  position: relative;
  width: 100%;
  padding: 0 20px;
  margin-top: 0;
  box-sizing: border-box;
  justify-content: space-between;
}
.feedback--indent {
  margin-top: 78px;
}
.feedback-sending--indent {
  margin-bottom: 64px;
}
.feedback-block__title--ident {
  margin: 56px 28px;
}
.feedback-block__title--strike {
  margin-left: 0;
  margin-right: 0;
}
.feedback-block__title--strike::after,
.feedback-block__title--strike::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 0.5px;
  background-color: #dbdbdb;
  top: 50%;
  transform: translateY(-50%);
}
.feedback-block__title--strike::before {
  left: 0;
}
.feedback-block__title--strike::after {
  right: 0;
}
.feedback-block--emotion {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.feedback-block--sending {
  display: flex;
  width: 768px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.feedback-block__button:hover {
  height: 58px;
  color: #FFF;
}
.contact-info {
  display: flex;
  width: 100%;
}
.feedback-block--name {
  flex-direction: column;
  width: 50%;
  border-right: 1px solid #dbdbdb;
}
.feedback-block--contact {
  flex-direction: column;
  width: 48%;
}
.feedback-block--impression,
.feedback-block--attraction {
  flex-direction: row;
}
.feedback-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.feedback-list--row {
  display: flex;
  flex-wrap: wrap;
}
.feedback-list__items {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}
.feedback-list__itemes--impression {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  width: 33%;
}
.feedback-list__itemes--attraction {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  width: 25%;
}
.feedback-list__itemes-name,
.feedback-block__required-text {
  font-size: 14px;
  margin-right: 15px;
  text-transform: uppercase;
  padding-left: 20px;
  font-weight: 400;
}
.feedback-list__itemes-text {
  border: 0;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f2f2f2;
  width: 430px;
  height: 58px;
  font-weight: 700;
  font-size: 18px;
}
.feedback-list__itemes-mail {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.feedback-list__itemes-phone {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.feedback-list__itemes-heading {
  font-size: 18px;
  font-weight: 700;
  height: 80px;
}
.checkbox,
.radio {
  position: relative;
  padding-left: 80px;
}
.radio::after,
.radio::before {
  position: absolute;
  content: "";
  background-color: #f2f2f2;
  height: 57px;
  width: 57px;
  border-radius: 50%;
  left: 0;
  top: -17px;
  z-index: 1;
}
.radio::before {
  content: none;
  background-color: #333333;
  width: 22px;
  height: 22px;
  left: 18px;
  top: 0;
  z-index: 2;
}
.radio:hover::after {
  background-color: #e5e5e5;
}
.radio:active::after {
  background-color: #d5d5d5;
}
.radio:active::before {
  background-color: #a4a4a4;
}
.check-input:checked + label::before,
.radio-input:checked + label::before {
  content: "";
}
.checkbox::before {
  content: none;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  left: 18px;
  top: 0;
  z-index: 2;
}
.checkbox::after {
  position: absolute;
  content: "";
  background-color: #f2f2f2;
  height: 57px;
  width: 57px;
  border-radius: 5px;
  left: 0;
  top: -19px;
  z-index: 1;
}
.checkbox:hover::after {
  background-color: #e5e5e5;
}
.checkbox:active::after {
  background-color: #d5d5d5;
}
.checkbox:active::before {
  opacity: 0.3;
}
.feedback__filds {
  border: 0;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 768px;
  height: 161px;
  padding: 20px;
}
.feedback-block__button {
  font-family: "PT Sans", "Arial", sans-serif;
  margin-top: 33px;
  width: 384px;
}
/*  медиазапросы */
@media (max-width: 1200px) {
  .feedback {
    max-width: 648px;
  }
}
@media (max-width: 768px) {
  .feedback {
    width: 280px;
  }
}
@media (max-width: 768px) {
  .feedback--indent {
    margin-top: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .feedback-block__title--strike::after,
  .feedback-block__title--strike::before {
    width: 123px;
  }
}
@media screen and (max-width: 768px) {
  .feedback-block__title--strike::after,
  .feedback-block__title--strike::before {
    width: 280px;
    top: -15px;
  }
}
@media screen and (max-width: 1200px) {
  .feedback-block__title--nowrap {
    white-space: nowrap;
  }
}
@media screen and (max-width: 768px) {
  .feedback-block__title {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .feedback-list__itemes--attraction {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .feedback-block--emotion,
  .feedback-list__itemes--attraction {
    width: 280px;
  }
}
@media screen and (max-width: 1200px) {
  .feedback-block--sending {
    width: 648px;
  }
}
@media screen and (max-width: 768px) {
  .feedback-block--sending {
    width: 280px;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (max-width: 1200px) {
  .feedback-block--name {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .feedback-block--name {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    border-right: 0 solid #dbdbdb;
  }
}
@media screen and (max-width: 648px) {
  .feedback-block {
    width: 280px;
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  .feedback-block--attraction {
    align-self: center;
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  .feedback-list__itemes--impression {
    width: 280px;
  }
}
@media (max-width: 1200px) {
  .feedback-list__itemes-text {
    width: 280px;
  }
}
@media screen and (max-width: 1200px) {
  .feedback__filds {
    width: 648px;
  }
}
@media screen and (max-width: 768px) {
  .feedback__filds {
    width: 280px;
  }
}
@media screen and (max-width: 1200px) {
  .feedback-block__button {
    width: 324px;
  }
}
@media screen and (max-width: 1200px) {
  .feedback-block__button {
    width: 281px;
  }
}
/* pop-up */
.popup {
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.popup--failure {
  width: 400px;
  height: 347px;
}
.popup--success {
  width: 640px;
  height: 347px;
}
@media (max-width: 768px) {
  .popup--failure {
    width: 320px;
    height: 280px;
  }
}
@media (max-width: 768px) {
  .popup--success {
    width: 320px;
    height: 402px;
  }
}
.popup__heading {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .popup__heading {
    font-size: 21px;
  }
}
.popup__heading--failure {
  line-height: 40px;
  max-width: 250px;
  margin-top: 52px;
}
.popup__text {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  max-width: 414px;
  text-align: center;
  line-height: 24px;
  margin: 0;
}
.popup__text--failure {
  max-width: 290px;
}
.popup__grey-block {
  background-color: #f2f2f2;
  width: 100%;
  height: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__button {
  max-width: 71%;
}
@media screen and (max-width: 768px) {
  .popup__button {
    max-width: 81%;
  }
}
.popup__button--failure {
  margin-bottom: 49px;
  padding: 16px 0;
  width: 270px;
}
@media screen and (max-width: 768px) {
  .popup__button--failure {
    width: 180px;
  }
}
/*# sourceMappingURL=style.css.map */
