.feedback {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 960px;
  flex-direction: row;
  justify-content: space-between;
}

.feedback--indent {
  margin-top: 78px;
}

.feedback-sending--indent {
  margin-bottom: 64px;
}

.feedback-block__title--ident {
  margin: 56px 28px;
}

.feedback-block {
  position: relative;
  width: 100%;
  padding: 0 20px;
  margin-top: 0;
  box-sizing: border-box;
  justify-content: space-between;
}

.feedback-block--emotion {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.feedback-block--sending {
  display: flex;
  width: 768px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.feedback-block__button:hover {
  height: 58px;
  color: @light-theme;
}

.contact-info {
  display: flex;
  width: 100%;
}

.feedback-block--name {
  flex-direction: column;
  width: 50%;
  border-right: 1px solid #dbdbdb;
}

.feedback-block--contact {
  flex-direction: column;
  width: 48%;
}

.feedback-block--impression,
.feedback-block--attraction {
  flex-direction: row;
}

.feedback-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.feedback-list--row {
  display: flex;
}

.feedback-list__items {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.feedback-list__itemes--impression {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  width: 33%;
}

.feedback-list__itemes-name,
.feedback-block__required-text {
  font-size: 14px;
  margin-right: 15px;
  text-transform: uppercase;
  padding-left: 20px;
  font-weight: 400;
}

.feedback-list__itemes-text {
  border: 0;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f2f2f2;
  width: 430px;
  height: 58px;
  font-weight: 700;
  font-size: 18px;
}

.feedback-list__itemes-heading {
  font-size: 18px;
  font-weight: 700;
  height: 80px;
}

.checkbox,
.radio {
  position: relative;
  padding-left: 80px;
}

.radio::after,
.radio::before {
  position: absolute;
  content: "";
  background-color: #f2f2f2;
  height: 57px;
  width: 57px;
  border-radius: 50%;
  left: 0;
  top: -17px;
  z-index: 1;
}

.radio::before {
  content: none;
  background-color: #333333;
  width: 22px;
  height: 22px;
  left: 18px;
  top: 0;
  z-index: 2;
}

.radio:hover::after {
  background-color: #e5e5e5;
}

.radio:active::after {
  background-color: #d5d5d5;
}

.radio:active::before {
  background-color: #a4a4a4;
}

.check-input:checked + label::before,
.radio-input:checked + label::before {
  content: "";
}

.checkbox::before {
  content: none;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  left: 18px;
  top: 0;
  z-index: 2;
}

.checkbox::after {
  position: absolute;
  content: "";
  background-color: #f2f2f2;
  height: 57px;
  width: 57px;
  border-radius: 5px;
  left: 0;
  top: -19px;
  z-index: 1;
}

.checkbox:hover::after {
  background-color: #e5e5e5;
}

.checkbox:active::after {
  background-color: #d5d5d5;
}

.checkbox:active::before {
  opacity: 0.3;
}

.feedback__filds {
  border: 0;
  background-color: #f2f2f2;
  box-sizing: border-box;
  width: 768px;
  height: 161px;
  padding: 20px;
}

.feedback-block__button {
  font-family: @main-font;
  margin-top: 33px;
  width: 384px;
}
