@theme-color:#81b3d2;
@main-font: "PT Sans", "Arial", sans-serif;
@light-theme:#FFF;
@note-size:1200px;

.welcom-block {
  position: relative;
}

.main-container {
  font-family: @main-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container__description, {
  width: 484px;
  text-align: center;
}

.feedback-block__title,
.advantages__title,
.main-container__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__title {
  width: 150px;
}

.main-container__title--indent,
.advantages-icon--indent,
.video-block__title--indent {
  padding-top: 60px;
}

.video-block__text--indent {
  width: 445px;
  margin: 28px 0 27px;
  padding-bottom: 30px;
}

.advantages__title--indent,
.map-block__title--indent {
  padding-top: 50px;
}

.video-block__poster--indent {
  padding-top: 90px;
}

.main-container__text {
  font-family: @main-font;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 30px 0 0;
  font-size: 14px;
  line-height: 21px;
}

.main-container__reason {
  width: @note-size;
}

.advantages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 256px;
}

.footer-row {
  display: flex;
  flex-direction: row;
}

.advantages__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 256px;
  box-sizing: border-box;
  background-position: center bottom;
  justify-content: center;
}

.advantages__block--colored {
  background-color: @theme-color;
  color: @light-theme;
  margin-top: 50px;
}

.main-row_theme {
  background-color: #eeeeee;
}

.theme-lihgt {
  color: @light-theme;
}

.main-container__numbers {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: #979797;
  top: 9px;
}

.feedback-block__title {
  position: relative;
}

.feedback-block__title::after,
.advantages__numbers::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  top: 9px;
}

.advantages__numbers-dark::after,
.advantages__numbers-dark::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 2px;
  background-color: #979797;
  top: 9px;
}

.advantages__numbers-dark::before {
  left: -15px;
}

.advantages__numbers-dark::after {
  right: -15px;
}

.advantages__numbers::before {
  left: -15px;
}

.advantages__numbers::after {
  right: -15px;
}

.advantages__text {
  font-family: @main-font;
  font-size: 14px;
  text-transform: uppercase;
  width: 280px;
  text-align: center;
}

.advantages__text--width {
  width: 282px;
}

.map-block__text--width-xxl {
  width: 450px;
}

.advantages__text--width-xl {
  width: 292px;
}

.advantages__text--slim {
  width: 240px;
}

.description-heading {
  font-family: @main-font;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  width: 150px;
}

.description-images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 840px;
  height: 256px;
  overflow: hidden;
}

.advantages--list {
  margin-top: 0;
}

.advantages--list-gray {
  background-color: #eeeeee;
}

.advantages__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
}

.advantage-icon {
  height: 75px;
}

.map-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 20px 0;
  width: 458px;
}

.map-block__title,
.video-block__title,
.form-title {
  font-family: @main-font;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  line-height: 26px;
}

.map-block__text,
.video-block__text,
.form-text {
  font-family: @main-font;
  font-size: 14px;
  font-weight: 400;
  margin: 19px 0 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
}

.button {
  border: 0;
  height: 58px;
  padding: 16px 0;
  font-family: @main-font;
  font-weight: 700;
  color: @light-theme;
  background-color: @theme-color;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  width: 100%;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-block__button {
  font-family: @main-font;
  margin-top: 33px;
}

.map-block__button:hover {
  height: 58px;
  color: @light-theme;
}

.map-block__map {
  margin-top: 52px;
}
/* catalog */

.catalog-galery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.gallery__item--first {
  width: 100%;
  height: 400px;
}

.gallery-block {
  position: relative;
  box-sizing: border-box;
  padding: 0;
}

.gallery-item__img {
  background-position: center;
  background-repeat: no-repeat;
  height: 267px;
}

.gallery-item__img--first {
  height: 400px;
  padding-top: 90px;
  width: @note-size;
}

.photo {
  width: 100%;
  height: auto;
}

.gallery-item__info {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
}

.gallery-item__author,
.gallery-item__heading {
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 15px 15px 0;
  color: @light-theme;
}

.gallery-item__heading {
  font-weight: 700;
  text-transform: uppercase;
}

.gallery-item__title {
  display: flex;
  flex-direction: column;
  width: 209px;
  height: 45px;
}

.gallery-item__like {
  width: 23px;
  height: 21px;
}

.gallery-item__views-number {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 12px;
  color: @light-theme;
}

.gallery-item__views {
  display: flex;
  align-items: center;
  margin-top: 9px;
  width: 64px;
  margin-right: 20px;
}

.video__poster {
  display: flex;
}

.video-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video-player {
  width: 48px;
  height: 54px;
  display: flex;
  position: absolute;
}

.video-block__poster {
  background-repeat: no-repeat;
  background-image: url("../img/video-desktop1.png");
  background-position: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 500px;
}

.logo-play {
  background-repeat: no-repeat;
  height: 54px;
  width: 48px;
  background-image: url("../img/polygon-1.png");
}
